@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-base-200;
}

* {
  @apply transition-colors duration-200;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-base-200;
}

::-webkit-scrollbar-thumb {
  @apply bg-base-300 rounded-lg;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-base-content/30;
}

.menu li > .active {
  @apply bg-primary text-primary-content font-bold;
}
